<a href="https://colab.research.google.com/github/noorulcodes/login-system/blob/main/numpy%20functions%20(basics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#series
l= [10, 20, 30, 40]
s= pd.Series(l)

In [ ]:
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s= pd.Series(l, index = ['s1', 's2', 's3', 's4'])

In [ ]:
s

s1    10
s2    20
s3    30
s4    40
dtype: int64

In [ ]:
# DataFrame

In [ ]:
S= [['Noorul', 55, 65, 70, 85, 50], ['Ameen', 78, 80, 55, 65, 59], ['Afsa', 50, 66, 90, 69, 70], ['Zareen', 67, 58, 90, 69, 80]]
df= pd.DataFrame(S)
df

        0   1   2   3   4   5
0  Noorul  55  65  70  85  50
1   Ameen  78  80  55  65  59
2    Afsa  50  66  90  69  70
3  Zareen  67  58  90  69  80

In [ ]:
F= [['Aira', 78, 89, 85, 66, 50], ['Airin', 78, 77, 86, 90, 94], ['Safan', 90, 55, 60, 71, 75], ['Safreen', 89, 90, 75, 72, 80], ['Siva', 73, 80, 59, 57, 88], ['Preethi', 55, 90, 81, 80, 55]]

In [ ]:
df2= pd.DataFrame(F)
df2

         0   1   2   3   4   5
0     Aira  78  89  85  66  50
1    Airin  78  77  86  90  94
2    Safan  90  55  60  71  75
3  Safreen  89  90  75  72  80
4     Siva  73  80  59  57  88
5  Preethi  55  90  81  80  55

In [ ]:
df2.columns

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
#adding two dataframes:
df2 = df2.append(df)

In [ ]:
df2

         0   1   2   3   4   5
0     Aira  78  89  85  66  50
1    Airin  78  77  86  90  94
2    Safan  90  55  60  71  75
3  Safreen  89  90  75  72  80
4     Siva  73  80  59  57  88
5  Preethi  55  90  81  80  55
0   Noorul  55  65  70  85  50
1    Ameen  78  80  55  65  59
2     Afsa  50  66  90  69  70
3   Zareen  67  58  90  69  80

In [ ]:
F

[['Aira', 78, 89, 85, 66, 50],
 ['Airin', 78, 77, 86, 90, 94],
 ['Safan', 90, 55, 60, 71, 75],
 ['Safreen', 89, 90, 75, 72, 80],
 ['Siva', 73, 80, 59, 57, 88],
 ['Preethi', 55, 90, 81, 80, 55]]

In [ ]:
# Giving Column names and indices names:
df2.columns = ['Names', 'English', 'Tamil', 'Maths', 'Physics', 'Chemistry']
df2.index = ['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10']
df2

       Names  English  Tamil  Maths  Physics  Chemistry
S1      Aira       78     89     85       66         50
S2     Airin       78     77     86       90         94
S3     Safan       90     55     60       71         75
S4   Safreen       89     90     75       72         80
S5      Siva       73     80     59       57         88
S6   Preethi       55     90     81       80         55
S7    Noorul       55     65     70       85         50
S8     Ameen       78     80     55       65         59
S9      Afsa       50     66     90       69         70
S10   Zareen       67     58     90       69         80

In [ ]:
#Adding a new column: here dataframe created using list
df2.insert(6, 'Practicals', [25, 25, 25, 25, 25, 25, 25, 25, 25, 25], True)
df2['Practicals 2'] = 25
df2
# if DataFrame created using dictionary: then df2('Practicals')= [25, 25...., 25] will work

,Names,English,Tamil,Maths,Physics,Chemistry,Practicals,Practicals 2
S1,Aira,78,89,85,66,50,25,25
S2,Airin,78,77,86,90,94,25,25
S3,Safan,90,55,60,71,75,25,25
S4,Safreen,89,90,75,72,80,25,25
S5,Siva,73,80,59,57,88,25,25
S6,Preethi,55,90,81,80,55,25,25
S7,Noorul,55,65,70,85,50,25,25
S8,Ameen,78,80,55,65,59,25,25
S9,Afsa,50,66,90,69,70,25,25
S10,Zareen,67,58,90,69,80,25,25

In [ ]:
df2

,Names,English,Tamil,Maths,Physics,Chemistry,Practicals,Practicals 2
S1,Aira,78,89,85,66,50,25,25
S2,Airin,78,77,86,90,94,25,25
S3,Safan,90,55,60,71,75,25,25
S4,Safreen,89,90,75,72,80,25,25
S5,Siva,73,80,59,57,88,25,25
S6,Preethi,55,90,81,80,55,25,25
S7,Noorul,55,65,70,85,50,25,25
S8,Ameen,78,80,55,65,59,25,25
S9,Afsa,50,66,90,69,70,25,25
S10,Zareen,67,58,90,69,80,25,25

In [ ]:
#performing arithmatic operation: first change from list to dictionary

df2['total'] = df2['Physics'] + df2['Maths']
df2

,Names,English,Tamil,Maths,Physics,Chemistry,Practicals,Practicals 2,total
S1,Aira,78,89,85,66,50,25,25,151
S2,Airin,78,77,86,90,94,25,25,176
S3,Safan,90,55,60,71,75,25,25,131
S4,Safreen,89,90,75,72,80,25,25,147
S5,Siva,73,80,59,57,88,25,25,116
S6,Preethi,55,90,81,80,55,25,25,161
S7,Noorul,55,65,70,85,50,25,25,155
S8,Ameen,78,80,55,65,59,25,25,120
S9,Afsa,50,66,90,69,70,25,25,159
S10,Zareen,67,58,90,69,80,25,25,159

In [ ]:
type(df2)

pandas.core.frame.DataFrame

In [ ]:
# creating dataframe using Dictionry
Z = { 'Names': ['Noorul', 'Ameen', 'Afsa', 'Zareen', 'Aira', 'Airin', 'Safan', 'Safreen', 'Fathi', 'Habib'],
      'English': [78, 80, 81, 75, 91, 89, 78, 88, 85, 84],
      'Tamil': [80, 80, 78, 88, 90, 91, 88, 78, 70, 85],
      'Maths': [67, 78, 80, 74, 89, 76, 84, 88, 83, 90],
      'Physics': [90, 91, 89, 80, 87, 85, 82, 88, 81, 80],
      'Chemistry': [67, 78, 87, 89, 88, 85, 88, 83, 81, 89] }
Z

{'Names': ['Noorul',
  'Ameen',
  'Afsa',
  'Zareen',
  'Aira',
  'Airin',
  'Safan',
  'Safreen',
  'Fathi',
  'Habib'],
 'English': [78, 80, 81, 75, 91, 89, 78, 88, 85, 84],
 'Tamil': [80, 80, 78, 88, 90, 91, 88, 78, 70, 85],
 'Maths': [67, 78, 80, 74, 89, 76, 84, 88, 83, 90],
 'Physics': [90, 91, 89, 80, 87, 85, 82, 88, 81, 80],
 'Chemistry': [67, 78, 87, 89, 88, 85, 88, 83, 81, 89]}

In [ ]:
df3 = pd.DataFrame(Z)
df3

     Names  English  Tamil  Maths  Physics  Chemistry
0   Noorul       78     80     67       90         67
1    Ameen       80     80     78       91         78
2     Afsa       81     78     80       89         87
3   Zareen       75     88     74       80         89
4     Aira       91     90     89       87         88
5    Airin       89     91     76       85         85
6    Safan       78     88     84       82         88
7  Safreen       88     78     88       88         83
8    Fathi       85     70     83       81         81
9    Habib       84     85     90       80         89

In [ ]:
df3['Practicals'] = 25
df3

     Names  English  Tamil  Maths  Physics  Chemistry  Practicals
0   Noorul       78     80     67       90         67          25
1    Ameen       80     80     78       91         78          25
2     Afsa       81     78     80       89         87          25
3   Zareen       75     88     74       80         89          25
4     Aira       91     90     89       87         88          25
5    Airin       89     91     76       85         85          25
6    Safan       78     88     84       82         88          25
7  Safreen       88     78     88       88         83          25
8    Fathi       85     70     83       81         81          25
9    Habib       84     85     90       80         89          25

# New Section

# New Section

In [ ]:
df2['Total'] = df2.English + df2.Tamil + df2.Maths + df2.Physics + df2.Chemistry

In [ ]:
df2.columns

Index(['Names', 'English', 'Tamil', 'Maths', 'Physics', 'Chemistry',
       'Practicals', 'Practicals 2', 'total', 'Total'],
      dtype='object')

In [ ]:
df2.Maths

S1     85
S2     86
S3     60
S4     75
S5     59
S6     81
S7     70
S8     55
S9     90
S10    90
Name: Maths, dtype: int64

In [ ]:
df2

,Names,English,Tamil,Maths,Physics,Chemistry,Practicals,Practicals 2,total,Total
S1,Aira,78,89,85,66,50,25,25,151,368
S2,Airin,78,77,86,90,94,25,25,176,425
S3,Safan,90,55,60,71,75,25,25,131,351
S4,Safreen,89,90,75,72,80,25,25,147,406
S5,Siva,73,80,59,57,88,25,25,116,357
S6,Preethi,55,90,81,80,55,25,25,161,361
S7,Noorul,55,65,70,85,50,25,25,155,325
S8,Ameen,78,80,55,65,59,25,25,120,337
S9,Afsa,50,66,90,69,70,25,25,159,345
S10,Zareen,67,58,90,69,80,25,25,159,364

In [ ]:
df3

     Names  English  Tamil  Maths  Physics  Chemistry  Practicals
0   Noorul       78     80     67       90         67          25
1    Ameen       80     80     78       91         78          25
2     Afsa       81     78     80       89         87          25
3   Zareen       75     88     74       80         89          25
4     Aira       91     90     89       87         88          25
5    Airin       89     91     76       85         85          25
6    Safan       78     88     84       82         88          25
7  Safreen       88     78     88       88         83          25
8    Fathi       85     70     83       81         81          25
9    Habib       84     85     90       80         89          25

In [ ]:
Z

{'Names': ['Noorul',
  'Ameen',
  'Afsa',
  'Zareen',
  'Aira',
  'Airin',
  'Safan',
  'Safreen',
  'Fathi',
  'Habib'],
 'English': [78, 80, 81, 75, 91, 89, 78, 88, 85, 84],
 'Tamil': [80, 80, 78, 88, 90, 91, 88, 78, 70, 85],
 'Maths': [67, 78, 80, 74, 89, 76, 84, 88, 83, 90],
 'Physics': [90, 91, 89, 80, 87, 85, 82, 88, 81, 80],
 'Chemistry': [67, 78, 87, 89, 88, 85, 88, 83, 81, 89]}

In [ ]:
df2

,Names,English,Tamil,Maths,Physics,Chemistry,Practicals,Practicals 2,total,Total
S1,Aira,78,89,85,66,50,25,25,151,368
S2,Airin,78,77,86,90,94,25,25,176,425
S3,Safan,90,55,60,71,75,25,25,131,351
S4,Safreen,89,90,75,72,80,25,25,147,406
S5,Siva,73,80,59,57,88,25,25,116,357
S6,Preethi,55,90,81,80,55,25,25,161,361
S7,Noorul,55,65,70,85,50,25,25,155,325
S8,Ameen,78,80,55,65,59,25,25,120,337
S9,Afsa,50,66,90,69,70,25,25,159,345
S10,Zareen,67,58,90,69,80,25,25,159,364

In [ ]:
df3

     Names  English  Tamil  Maths  Physics  Chemistry  Practicals
0   Noorul       78     80     67       90         67          25
1    Ameen       80     80     78       91         78          25
2     Afsa       81     78     80       89         87          25
3   Zareen       75     88     74       80         89          25
4     Aira       91     90     89       87         88          25
5    Airin       89     91     76       85         85          25
6    Safan       78     88     84       82         88          25
7  Safreen       88     78     88       88         83          25
8    Fathi       85     70     83       81         81          25
9    Habib       84     85     90       80         89          25

In [ ]:
df3['Total'] = df3.English + df3.Tamil + df3.Maths + df3.Physics + df3.Chemistry
df3

     Names  English  Tamil  Maths  Physics  Chemistry  Practicals  Total
0   Noorul       78     80     67       90         67          25    382
1    Ameen       80     80     78       91         78          25    407
2     Afsa       81     78     80       89         87          25    415
3   Zareen       75     88     74       80         89          25    406
4     Aira       91     90     89       87         88          25    445
5    Airin       89     91     76       85         85          25    426
6    Safan       78     88     84       82         88          25    420
7  Safreen       88     78     88       88         83          25    425
8    Fathi       85     70     83       81         81          25    400
9    Habib       84     85     90       80         89          25    428

In [ ]:
df3['Rank'] = df3['Total'].rank()
df3

     Names  English  Tamil  Maths  Physics  Chemistry  Practicals  Total  Rank
0   Noorul       78     80     67       90         67          25    382   1.0
1    Ameen       80     80     78       91         78          25    407   4.0
2     Afsa       81     78     80       89         87          25    415   5.0
3   Zareen       75     88     74       80         89          25    406   3.0
4     Aira       91     90     89       87         88          25    445  10.0
5    Airin       89     91     76       85         85          25    426   8.0
6    Safan       78     88     84       82         88          25    420   6.0
7  Safreen       88     78     88       88         83          25    425   7.0
8    Fathi       85     70     83       81         81          25    400   2.0
9    Habib       84     85     90       80         89          25    428   9.0

In [ ]:
import pandas as ds
df4 = ds.read_csv('https://query.data.world/s/wp7222n3anww7kl2j6odzkdoqxwtzs')
df4

,Movie_Title,YR_Released,Rating,Num_Reviews,Movie_ID,Record,Runtime
0,Code Name: K.O.Z.,2015,1.4,24623,tt4458206,Bottom 250 Movies,114.0
1,Saving Christmas,2014,1.5,12765,tt4009460,Bottom 250 Movies,80.0
2,Superbabies: Baby Geniuses 2,2004,1.6,26505,tt0270846,Bottom 250 Movies,88.0
3,Daniel the Wizard,2004,1.6,13295,tt0421051,Bottom 250 Movies,81.0
4,Manos: The Hands of Fate,1966,1.7,31808,tt0060666,Bottom 250 Movies,70.0
...,...,...,...,...,...,...,...
845,Pirates of the Caribbean: The Curse of the Bla...,2003,8.0,872441,tt0325980,Top 250 Movies,143.0
846,What Ever Happened to Baby Jane?,1962,8.0,37906,tt0056687,Top 250 Movies,134.0
847,"Paris, Texas",1984,8.0,55587,tt0087884,Top 250 Movies,145.0
848,Drishyam,2015,8.0,40777,tt4430212,Top 250 Movies,163.0
849,PK,2014,8.0,106375,tt2338151,Top 250 Movies,153.0

In [ ]:
df3

     Names  English  Tamil  Maths  Physics  Chemistry  Practicals  Total  Rank
0   Noorul       78     80     67       90         67          25    382   1.0
1    Ameen       80     80     78       91         78          25    407   4.0
2     Afsa       81     78     80       89         87          25    415   5.0
3   Zareen       75     88     74       80         89          25    406   3.0
4     Aira       91     90     89       87         88          25    445  10.0
5    Airin       89     91     76       85         85          25    426   8.0
6    Safan       78     88     84       82         88          25    420   6.0
7  Safreen       88     78     88       88         83          25    425   7.0
8    Fathi       85     70     83       81         81          25    400   2.0
9    Habib       84     85     90       80         89          25    428   9.0

In [ ]:
df3['Physics'].unique()

array([90, 91, 89, 80, 87, 85, 82, 88, 81])

In [ ]:
df3['Practicals'].unique()

array([25])

In [ ]:
df4['Runtime'].unique()

array([114.,  80.,  88.,  81.,  70.,  91., 110., 105.,  nan,  90.,  87.,
        85., 171.,  99., 100.,  75.,  84., 150.,  93., 159., 104.,  54.,
        94.,  95.,  89.,  86.,  96.,  78., 121., 124., 118.,  97., 120.,
        74.,  82.,  92., 135.,  65.,  77.,  68.,  79., 142., 175., 202.,
       152., 195., 201., 154., 139., 178., 148., 179., 133., 146., 136.,
       127., 130., 106., 169., 119., 102., 189., 109., 115., 112., 151.,
       107., 137., 116., 155., 153., 113., 125., 117., 165., 164.,  98.,
       122., 229., 128., 131., 216., 160., 129., 108., 103., 149., 138.,
       170., 126., 140., 186., 172.,  67., 161., 132., 180., 238., 177.,
       183., 158., 111., 123., 212., 134., 101., 145., 191., 184., 141.,
       143., 144., 188., 156.,  76., 157., 167., 163., 162., 174., 320.,
       224., 181., 185., 176., 166., 187., 192., 213., 147., 206., 210.,
       168., 207., 205.,  83.])

In [ ]:
df3.columns

Index(['Names', 'English', 'Tamil', 'Maths', 'Physics', 'Chemistry',
       'Practicals', 'Total', 'Rank'],
      dtype='object')